<div
  class="grid grid-cols-1 justify-around mx-auto lg:grid-cols-2 gap-4 overflow-x-auto"
  #reposContainer
>
  <ngx-skeleton-loader
    *ngIf="isLoading"
    [theme]="{ height: '100px', borderRadius: '12px' }"
    [count]="5"
    class="mb-4"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    *ngIf="isLoading"
    [theme]="{ height: '100px', borderRadius: '12px' }"
    [count]="5"
    class="mb-4"
  ></ngx-skeleton-loader>
  <ng-container #container *ngIf="!isLoading">
    <ng-container *ngFor="let repo of repositories" class="animate-pulse p-4">
      <a
        href="{{ repo.html_url }}"
        target="_blank"
        class="bg-white bg-opacity-70 backdrop-blur-md rounded-xl shadow-md text-emerald-800 p-4 mx-4"
      >
        <h1 class="text-lg sm:text-xl font-bold mb-2">
          {{ repo.name }}
        </h1>
        <p class="text-sm sm:text-base">{{ repo.description }}</p>
        <div class="flex flex-wrap gap-2 mt-2">
          <div
            *ngFor="let topic of repo.topics"
            class="bg-emerald-500 text-black p-1 rounded-lg mt-2 shadow-md text-xs"
          >
            {{ topic }}
          </div>
        </div>
      </a>
    </ng-container>
  </ng-container>
</div>

<app-pagination
  [currentPage]="currentPage"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
></app-pagination>
