<div class="flex flex-col items-center justify-center my-4 overflow-x-auto">
  <div class="mb-2">
    <label for="{{ pageSize }}" class="mr-2">Items per page</label>
    <select
      name="pageSize"
      id="pageSize"
      ngModel="{{ pageSize }}"
      (change)="onPageSizeChange($event)"
      class="p-1 rounded-md text-sm"
    >
      <option *ngFor="let option of pageSizeOptions" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <div class="flex items-center">
    <span class="mr-2 text-sm"
      >Page {{ currentPage }} of {{ calculateTotalPages() }}
    </span>
    <div class="flex flex-wrap">
      <button
        (click)="onPageChange(page)"
        *ngFor="let page of getPageNumbers()"
        class="cursor-pointer px-2 py-1 bg-emerald-500 text-white rounded-md hover:bg-green-600 mr-1 text-sm"
      >
        {{ page }}
      </button>
    </div>
  </div>
</div>
