<div class="text-center p-4 md:p-8">
  <h1 class="text-3xl text-emerald-800 font-sans md:text-7xl">
    Welcome to <span class="underline">CodePlex</span>!
  </h1>
  <p class="mt-9 md:mt-9 text-lg md:text-3xl text-emerald-900 font-sans">
    Enter a GitHub username to get started!
  </p>
  <form (submit)="searchUser($event, username.value)" class="md:mt-4">
    <input
      class="mt-7 rounded-xl p-2 m-2 shadow-md"
      type="text"
      placeholder="GitHub username"
      #username
    />
    <button class="bg-emerald-500 rounded-xl p-2 m-2 shadow-md" type="submit">
      Search
    </button>
  </form>

  <span
    *ngIf="isLoading"
    class="mt-5 rounded-lg bg-emeral-500/75 border-emerald-900 text-emerald-800 p-3"
    >Loading...</span
  >

  <span
    *ngIf="errorMessage"
    class="mt-24 rounded-lg bg-red-300/75 border-red-900 text-red-700 p-3 place-items-center"
  >
    {{ errorMessage }}
  </span>
</div>
